.gmail{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        order: 4;
}
a:link {
    color: grey;
    text-decoration: none;
  }
a:hover {
    text-decoration: underline;
  }

.googleimage{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    order:3;
}

.apps{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    padding: 10px;
    order:2;
}

.partie1{
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 10px;

}
.partie2 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    height: calc(100% - 560px);
    max-height: 290px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.container-43 {
    padding: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.partie3 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.partie4 {
    display: flex;
    justify-content: center;
}
.connexion {
    display: flex;
    border-radius: 10px;
    background-color: dodgerblue;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    order: 1;
    transition: box-shadow 0.3s;
}

.connexion:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.connexion a {
    color: white;
    text-decoration: none;
}

  div {
    display: flex;
    font-family: 'Roboto';
  }

.blabladroite {
    display: flex;
    justify-content: space-around;
    justify-content: right;
    align-items: right;
    flex-wrap: nowrap;
    height: 100px
  }

.blablagauche {
    display: flex;
    justify-content: space-around;
    justify-content: left;
    align-items: left;
    flex-wrap: nowrap;
    height: 100px
    background-color: lightgrey;
  }

.propos {
    padding: 10px;
}
.pub {
    padding: 10px;
}
.comp {
    padding: 10px;
}
.how {
    padding: 10px;
    text-align: center;
}
.country{
    background-color: lightgrey;
    color:gray
}
.bottom {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100px;
}
.privacy {
    padding: 10px;
}
.terms{
    padding: 10px;
}
.pref{
    padding: 10px;
}
.country{
    padding: 10px;
}

footer {
    position: fixed; 
    bottom: 0;
    width: 100%; 
    background-color: lightgrey;
    color: gray;
    text-align: center;
}

.logo {
    text-align: center;
    height: 200px;
    aspect-ratio: auto 500 / 200;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    vertical-align: bottom;
}